#vert1 {
  color: rgb(0, 255, 0);
}

#vert2 {
  color: rgb(0, 131, 0);
}

#orange1 {
  color: rgb(254, 153, 0);
}

#orange2 {
  color: rgb(147, 88, 0);
}

#rouge1 {
  color: rgb(255, 83, 83);
}

#rouge2 {
  color: rgb(255, 0, 0);
}

#sctInfoClient {
  height: 100vh;
  background: center/cover url(../images/fontInfoClaire.png) fixed;
}

#ctngenInfoClient {
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-left: 10%;
}

#infoselect p {
  font-size: 1.6rem;
}

#sauvegardeKcal {
  display: none !important;
}

#ss-ctnCalculKcalL:first-child {
  margin: 0px 70px;
  font-size: 1.3rem;
}

#activeUpdateInfo,
#activeDeleteInfo {
  width: 30px;
  height: 30px;
}

#infoUpdate form {
  display: flex;
  flex-direction: column;
}

#valueImc {
  text-align: center;
}

#sauvegardeImc {
  font-size: 1.4rem;
}

#sctCalculKcal {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#ctnCalculKcal {
  height: 50vh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

#ss-ctnCalculKcalL {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}

#ss-ctnCalculKcalR {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 60%;
  justify-content: space-evenly;
  margin-top: 15%;
}

#btnConseil {
  display: none;
}

#ctndisplauResultConseil {
  display: none;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

input {
  background-color: transparent;
  border-style: none;
}

input[type=text] {
  border-bottom: 2px solid rgb(0, 0, 0) !important;
  font-size: 1.4rem;
  font-weight: 500;
}

input[type=text]:focus-visible {
  transition: 0.2s;
  outline-style: none;
  border-bottom: 2px solid #810001 !important;
}

input[type=button] {
  border: 2px solid rgb(0, 0, 0) !important;
  width: 50%;
  height: 10%;
  margin: 0px auto;
  border-radius: 10px;
  font-size: 1.3rem;
}

#ctnSaveImc {
  display: flex;
  justify-content: center;
}
#ctnSaveImc form {
  display: flex;
  flex-direction: column;
}
#ctnSaveImc form input[type=text] {
  background-color: transparent;
  border-style: none;
}
#ctnSaveImc form input[type=submit] {
  display: none;
}

#ctnGenrekcal {
  display: grid;
  grid-template-columns: 50% 50%;
}

#ctnInfokcal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#ctnInfokcal input {
  width: 100%;
}

#ctnActif {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: 10%;
}

#ctnScoreClient {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#ctnSCoreImc p,
#ctnSCoreKcal p {
  text-align: center;
}

#sctScoreClient {
  height: 70vh;
  display: grid;
  grid-template-rows: 20% 80%;
}

#descriptionKcal {
  height: 40vh;
}

#btnConseil {
  width: 40%;
  height: 30%;
  border-radius: 30px;
}

#ctnParentConseil {
  display: grid;
  grid-template-columns: 50% 50%;
}

#ctndescriptionKcal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  height: 50%;
}
#ctndescriptionKcal p {
  text-align: center;
  font-size: 1.3rem;
}
#ctndescriptionKcal h2 {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

#sctCalculeKcal {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center/cover url(../images/kcalFond.png);
  background-attachment: fixed;
}
#sctCalculeKcal p, #sctCalculeKcal div, #sctCalculeKcal input, #sctCalculeKcal label {
  color: white;
}

#ctn-Generale-CalculeKcal {
  width: 50vw;
  height: 65vh;
  display: grid;
  grid-template-rows: 60% 10% 10% 20%;
}
#ctn-Generale-CalculeKcal form {
  display: flex;
  flex-direction: column;
}

#ctnCalculeKcal {
  display: grid;
  grid-template-rows: 20% 40% 10% 30%;
}

#ctnActiviterkcal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#calculEvent {
  width: 15%;
  height: 30%;
  margin: auto;
  border-radius: 30px;
  font-size: 1.2rem;
  border: 1px solid white;
}

@media screen and (max-width: 1100px) {
  #ctnCalculKcal {
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    height: 80vh;
  }
  #ss-ctnCalculKcalR {
    margin-top: 0px;
  }
  #ss-ctnCalculKcalR {
    height: 80%;
  }
  #descriptionKcal {
    height: 80vh;
  }
}
@media screen and (max-width: 900px) {
  #ctnActiviterkcal {
    flex-direction: column;
  }
  #calculEvent {
    width: 35%;
  }
}
@media screen and (max-width: 500px) {
  #ctnActiviterkcal {
    flex-direction: column;
  }
  #ctngenInfoClient h1 {
    text-align: center;
  }
  #infoselect p {
    text-align: center;
  }
  #ss-ctnCalculKcalR {
    width: 70%;
  }
  #ss-ctnCalculKcalR input[type=text] {
    font-size: 1rem;
  }
  #ss-ctnCalculKcalR input[type=button] {
    height: 15%;
    font-size: 0.9rem;
  }
  #ss-ctnCalculKcalL > p:nth-child(2) {
    font-size: 1rem;
  }
  #ctnCalculKcal {
    height: 60vh;
  }
  #ctnActif {
    width: 100%;
    margin: 0;
    justify-content: space-around;
  }
  #ss-ctnCalculKcalL:last-child {
    font-size: 1rem;
  }
  #calculEvent {
    width: 50%;
    height: 25%;
  }
}
@media screen and (max-width: 500px) {
  #ss-ctnCalculKcalL {
    margin: 0px 10px 0px 10px !important;
  }
  #btnConseil {
    width: 70%;
  }
  #ss-ctnCalculKcalL > p:nth-child(2) {
    font-size: 0.8rem;
  }
  #ctnParentConseil {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #ctnSaveImc form {
    align-items: center;
  }
  #ctndescriptionKcal {
    width: 80%;
  }
  #ctndescriptionKcal p {
    font-size: 1rem;
  }
  #ctn-Generale-CalculeKcal {
    height: 90vh;
  }
  #sctCalculeKcal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center/cover url(../images/fondKcalMobile.png);
    background-attachment: fixed;
  }
}

/*# sourceMappingURL=compteclient.css.map */
