@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap");
body {
  margin: 0;
  overflow-x: hidden !important;
}

#logoH {
  width: 100px;
  height: 100px;
}

#ctnFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
#ctnFooter a {
  color: white;
  font-family: "montserrat", sans-serif;
}

#sous-ctnContact > div.form > form > div > div.rowCap > i {
  color: black;
}

html {
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

a {
  color: rgb(0, 0, 0);
}

.themeSombre {
  transition: 1s;
}
.themeSombre p,
.themeSombre h1,
.themeSombre h2,
.themeSombre li,
.themeSombre input,
.themeSombre label,
.themeSombre span {
  color: white;
  font-family: "montserrat", sans-serif;
}
.themeSombre #btnConseil {
  border-color: white;
}
.themeSombre #ctnFooter a {
  color: white;
  font-family: "montserrat", sans-serif;
}
.themeSombre section div p,
.themeSombre section div h1,
.themeSombre section div h2,
.themeSombre section div li {
  color: white !important;
}
.themeSombre .l {
  background-color: white;
}
.themeSombre #calculEvent {
  border: 2px solid white;
}
.themeSombre input[type=text] {
  border-bottom: 1px solid white;
  font-size: 1.4rem;
  font-weight: 500;
}
.themeSombre input[type=text]:focus-visible {
  transition: 0.2s;
  outline-style: none;
  border-bottom: 2px solid #810001;
}
.themeSombre input[type=button] {
  border: 2px solid white;
  width: 50%;
  height: 10%;
  margin: 0px auto;
  border-radius: 10px;
  font-size: 1.3rem;
}
.themeSombre input[type=submit] {
  border: 1px solid white;
}
.themeSombre input {
  border-color: white !important;
}
@media screen and (max-width: 500px) {
  .themeSombre #sct1-index {
    background: center/cover url(../images/indexFondMobile.png);
  }
}
.themeSombre #cont1-indexPres #sous-ctn1-p-index {
  color: white;
}
.themeSombre #btn1-index {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(255, 255, 255);
  color: white;
}
.themeSombre #fleche1-index {
  border-color: rgb(57, 0, 0);
}
.themeSombre #fleche1-index::before {
  border-color: rgb(57, 0, 0);
}
.themeSombre #btn-Contact1-index {
  background-color: rgba(255, 0, 0, 0);
  border-color: white;
}
.themeSombre #para-btn-index {
  color: white;
}
.themeSombre #ctnFormIndex {
  background-color: rgb(57, 0, 0);
}
.themeSombre #ctnFormIndex form input {
  border-color: white !important;
}
.themeSombre #ctnFormIndex form input[type=submit] {
  border-color: white;
}
.themeSombre #creatPswr {
  border-color: white;
}

.themeClaire {
  transition: 1s;
}
.themeClaire #sctInfoClient {
  height: 100vh;
  background: center/cover url(../images/fontInfoClaire.png);
  background-attachment: fixed;
}
.themeClaire #span1 {
  color: #5F1A37 !important;
}
.themeClaire body {
  background-color: #ffffff;
}
.themeClaire .header {
  background-color: rgba(255, 255, 255, 0.52);
}
.themeClaire .l {
  background-color: #5F1A37;
}
.themeClaire p,
.themeClaire h1,
.themeClaire h2,
.themeClaire li,
.themeClaire input,
.themeClaire label,
.themeClaire span {
  color: black !important;
}
.themeClaire header nav ul li a {
  color: #5F1A37 !important;
}
.themeClaire section div p,
.themeClaire section div h1,
.themeClaire section div h2 {
  color: black;
}

#logoCouleurH {
  height: 100%;
}

#span8,
#span9,
#span10,
#span11,
#span12,
#span13,
#span14 {
  margin-top: 200px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 100px;
}

.header {
  display: grid;
  /* width: 100vw; */
  background-color: rgba(255, 255, 255, 0.72);
  width: 100%;
  grid-template-columns: 20% 65% 15%;
  align-items: center;
  justify-items: center;
  backdrop-filter: blur(5px);
}

.container_logo_header img {
  height: 100px;
}

#nav {
  width: 100%;
}

#ulLanguage-index {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
  grid-column: 2/3;
}

.list_header {
  display: flex;
  justify-content: space-around;
}

nav ul li:last-child {
  margin-left: 50px;
}

.ss-ctn-lang-index {
  display: grid;
  grid-template-columns: 25% 75%;
}

.list-language-index {
  display: flex;
  font-size: 1.4rem;
}

.list-language-index::before {
  content: "➢";
  display: block;
  width: 30px;
}

li {
  list-style-type: none;
  font-family: "lato", sans-serif;
  font-weight: 600;
}

nav ul li {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "lato", sans-serif;
}

.ulHeader {
  display: flex;
}

.logo_header {
  height: 5rem;
}

header p {
  text-align: center;
  color: white;
}

#contH {
  display: none;
}

.l {
  width: 30px;
  height: 4px;
  position: relative;
  transform-origin: center;
  transition: all 0.5s;
  border-radius: 2px;
}

.l1 {
  top: -5px;
}

.l2 {
  top: 0px;
}

.l3 {
  top: 5px;
}

.open .l1 {
  transform: rotate(45deg);
  top: 0px;
}

.open .l2 {
  opacity: 0;
}

.open .l3 {
  top: -9px;
  transform: rotate(-45deg);
}

.liHeader {
  display: none;
}

.listHideen_header {
  animation: 2s animMenu normal;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0px;
  height: 95vh;
}

#ulHiddenHeader {
  position: fixed;
  z-index: 1000;
}

.listHideen_headerRe {
  animation: 2s animMenuReverse normal;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0px;
  height: 0vh;
}

.li_header_hidden {
  color: white;
  border-bottom: 1px solid yellow;
  animation: 3s animMenu2 normal;
}

.removeMenu {
  animation: 3s removeMenu normal;
}

.containerHeaderHidden {
  display: none;
}

.container_Prix_Head2 {
  width: 70%;
  margin: auto;
}

.Active {
  display: flex;
}

.CHH {
  display: none;
}

a {
  text-decoration: none;
}

.li_header_hideen {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  justify-content: center;
}

.listHideen_header {
  padding: 0px;
}

.li_header_hideen {
  animation: 2s liAnim normal;
}

#ctntitre-sct-proj {
  height: 43vh;
  display: flex;
  align-items: flex-end;
}

.animTitre {
  color: rgba(255, 255, 255, 0.413) !important;
  font-size: 5rem;
  font-family: "Abril Fatface", cursive;
  margin: 0;
}

@media (max-width: 1000px) {
  #contH {
    display: block !important;
    grid-column: 3/4;
  }
  nav {
    display: none;
  }
  #ctnGenCouleurHeader {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 60%;
  }
  .li_header_hideen {
    font-size: 2.5rem;
  }
  .themeSombre .listHideen_header {
    background-color: black;
  }
  .themeSombre .li_header_hideen {
    color: white !important;
    font-size: 2.5rem;
  }
}
@media (max-width: 850px) {
  .container_logo_header {
    width: 70%;
    justify-content: center;
  }
  .logo_header {
    height: 4rem;
  }
}
@media (max-width: 500px) {
  .li_header_hideen {
    font-size: 1.3rem;
  }
  .themeSombre .li_header_hideen {
    color: white !important;
  }
  #ctnFooter {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1000px) {
  #CHH {
    display: none;
  }
}
@keyframes removeMenu {
  0% {
    color: white;
    border-bottom: 1px solid yellow;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes animMenu2 {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    color: white;
    border-bottom: 1px solid yellow;
  }
}
@keyframes animMenu {
  0% {
    height: 0px;
    color: black;
  }
  50% {
    color: black;
  }
  100% {
    height: 95vh;
  }
}
@keyframes animMenuReverse {
  0% {
    height: 90vh;
  }
  50% {
    color: black;
  }
  100% {
    height: 0px;
    visibility: hidden;
    display: none;
    opacity: 0;
  }
}
@keyframes liAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=header.css.map */
