#sct1-index {
  width: 100%;
  height: 100vh;
  background: center/cover url(../images/FondIndex.png) fixed;
}
#sct1-index p, #sct1-index input, #sct1-index div, #sct1-index h2 {
  color: white;
}

#cont1-indexPres {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 60% 20% 20%;
}

#cont1-indexPres #sous-ctn1-p-index {
  font-size: 2.9rem;
  font-weight: 800;
  width: 90%;
  border-radius: 10px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

#cont1-indexPres #sous-ctn2-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cont1-indexPres #sous-ctn3-index {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-row: 3/4;
}

#btn1-index {
  width: 190px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  border-style: none;
  border: 2px solid;
  font-size: 1.4rem;
}

#sous-ctn1-index {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#fleche1-index {
  width: 50px;
  height: 50px;
  border-bottom: 5px solid;
  border-right: 5px solid;
  transform: rotate(45deg);
  cursor: pointer;
}

#fleche1-index::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-bottom: 3px solid;
  border-right: 3px solid;
  transform: rotate(360deg);
  animation: flecheIn 2s infinite;
}

#btn-Contact1-index {
  width: 10%;
  height: 30%;
  background-color: rgba(255, 0, 0, 0);
  backdrop-filter: blur(10px);
  border: 1px solid;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  cursor: pointer;
}

#btn-Contact1-index:hover {
  transform: translateY(-10px);
  transition: 0.6s;
}

#para-btn-index {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "montserrat", sans-serif;
}

#sous-ctn-2-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

#connectIndex {
  height: 100vh;
}

.paraIndex1et4 {
  font-size: 2rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 1px;
  margin-left: 10%;
}

.bkVert {
  color: rgba(10, 115, 21, 0.675);
}

#ctnFormIndex {
  width: 80vw;
  height: 70vh;
  display: flex;
  border-radius: 40px;
  margin: auto;
}
#ctnFormIndex form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  height: 50%;
  justify-content: space-around;
  background-color: rgba(238, 238, 238, 0.479);
  border-radius: 30px;
}
#ctnFormIndex form input[type=submit] {
  border: 2px solid black !important;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 40px;
  font-family: "open sans", sans-serif;
}
#ctnFormIndex form a {
  font-size: 1.1rem;
  font-family: "open sans", sans-serif;
}

#identifiant, #mdp {
  border: 2px solid black !important;
  text-align: center;
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: 500;
}

#ctnFormIndex label {
  font-size: 1.6rem;
  font-family: "open sans", sans-serif;
}

@keyframes flecheIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
@media screen and (max-width: 1100px) {
  #sous-ctn1-p-index {
    font-size: 1.8rem;
  }
  #btn-Contact1-index {
    width: 15%;
  }
}
@media screen and (max-width: 650px) {
  #cont1-indexPres #sous-ctn1-p-index {
    font-size: 1.8rem;
  }
  #sous-ctn1-p-index {
    font-size: 1.5rem;
  }
  #btn-Contact1-index {
    width: 30%;
  }
  #ctnFormIndex form input {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  #ctnFormIndex form {
    width: 70%;
  }
}
#stc2Index {
  height: 120vh;
}

#ctnIndex2-1 {
  grid-template-columns: 45% 55%;
}

#ctnIndex2-2 {
  grid-template-columns: 55% 45%;
}

.ctnIndex2-1 {
  height: 60vh;
  display: grid;
}
.ctnIndex2-1 .img1 {
  box-shadow: -50px 50px 16px 5px rgba(10, 115, 21, 0.4509803922);
}
.ctnIndex2-1 .img2 {
  box-shadow: 50px 50px 16px 5px rgba(10, 115, 21, 0.4509803922);
}

.ssCtn2-2 {
  display: flex;
  align-items: center;
}

#ssCtn2-1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#ss-ssCtn2-2 {
  width: 90%;
  height: 18vh;
  background-color: #F4F4F4;
  transform: translateX(-150px) translateY(50px);
}
#ss-ssCtn2-2 h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.8rem;
  text-align: center;
}
#ss-ssCtn2-2 p {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

#ss-ssCtn2-2-2 {
  width: 90%;
  height: 18vh;
  background-color: #F4F4F4;
  transform: translateX(250px);
}
#ss-ssCtn2-2-2 h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.8rem;
  text-align: center;
}
#ss-ssCtn2-2-2 p {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

#ctnCalImcPublic label, #ctnCalImcPublic input {
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
#ctnCalImcPublic input {
  border-bottom: 1px solid white !important;
  margin-bottom: 30px;
}

#sctIndex3-1 {
  height: 100vh;
  clip-path: polygon(100% 0, 100% 38%, 100% 100%, 0 100%, 0 12%);
  background-color: rgb(0, 0, 0);
}
#sctIndex3-1 > h2 {
  color: white;
  z-index: 50;
}

#ctnIndex3-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 60vh;
}

#ctnIndex3-0 {
  color: white;
  height: 30%;
  display: flex;
  align-items: flex-end;
}

#ctnCalImcPublic {
  width: 50%;
  height: 50%;
  margin: auto;
}

#ssCtn3-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculerImcPub {
  width: 40%;
  height: 30px;
  color: white;
  margin: 30px auto;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#ctnCalImcPublic {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#ctnCalImcPublic div {
  display: flex;
  flex-direction: column;
}

#ssCtn3-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ctnImc3-2 p {
  margin: 0;
  text-align: end;
  color: white;
}

.sctKcalPublic {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 88%, 0 0);
}
.sctKcalPublic p, .sctKcalPublic h2, .sctKcalPublic input, .sctKcalPublic label {
  color: white !important;
}
.sctKcalPublic label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.titreCalcl {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 1px;
  font-size: 2.1rem;
  text-align: center;
  width: 100%;
}

#ss-ctnGenrekcalR, #ss-ctnGenrekcalL {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ctnActiviterkcal div {
  display: flex;
  flex-direction: column-reverse;
}

/*# sourceMappingURL=index.css.map */
