#scntInscription {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ctnFormInscription {
  width: 80%;
  height: 70vh;
  display: flex;
}
#ctnFormInscription form {
  background: center/cover url(../images/fond_inscription.png);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ctnInfoInscription {
  display: grid;
  grid-template-columns: 50% 50%;
}
.ctnInfoInscription input {
  width: 50%;
  margin: auto;
  border-style: none;
  font-size: 1.5rem;
}
.ctnInfoInscription input[type=password] {
  border-bottom: 1px solid;
}
.ctnInfoInscription input[type=number] {
  border-bottom: 1px solid;
}
.ctnInfoInscription input[type=submit] {
  border-bottom: 1px solid;
}

#ctnGenreInscription {
  display: flex;
  justify-content: space-around;
}

#creatCompte #inpucreatComptet {
  border: 2px solid;
  padding: 11px;
  font-size: 1.2rem;
  border-radius: 40px;
}

#creatCompte {
  border: 2px solid;
  padding: 15px;
  font-size: 1.1rem;
  border-radius: 40px;
  width: 15%;
  margin: 0px auto;
}

input {
  border-color: white !important;
}

@media screen and (max-width: 1100px) {
  .container_logo_header {
    width: 70%;
    justify-content: center;
  }
  .logo_header {
    height: 4rem;
  }
  #creatCompte {
    width: 30%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .ctnInfoInscription {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr !important;
  }
  .ctnInfoInscription input {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=inscription.css.map */
