<%- include('header') %>
<link rel="stylesheet" href="../assets/style/inscription.css">
    <section id="sctInfoClient">
        <div id="ctngenInfoClient">
            <h1>Information personnelle</h1>
            <div id="infoselect">
                <p>
                    Nom: <%= session.user.nom %>
                </p>
                <p>
                    Prénom <%= session.user.prenom %>
                </p>
                <p>
                    Date de naissance : <%= session.user.age %>
                </p>
                <p>
                    Genre <%= session.user.genre %>
                </p>
            </div>
            <div id="infoUpdate">
                <form action="/uptInfo" method="post">
                    <input type="text" value="<%= session.user.nom %>" name="nom" required>
                    <input type="text" value="<%= session.user.prenom %>" name="prenom" required>
                    <input type="text" value="<%= session.user.mail %>" name="mail" required>
                    <input type="text" value="<%= session.user.identifiant %>" name="identifiant" required>
                    <input type="password" value="<%= session.user.mdp %>" name="mdp" required>
                    <input type="submit">
                </form>
            </div>
        </div>
        <div id="ctnActif">
            <div id="activeUpdateInfo"><img src="../assets/images/logoModif.png" alt="logomodification"></div>
            <a href="/deleteCompte" id="activeDeleteInfo"><img src="../assets/images/logoRemove.png" alt="logoStylo"></a>
        </div>
    </section>
    <section id="sctScoreClient">
        <p>Archive</p>
        <div id="ctnScoreClient">

            <div id="ctnSCoreImc">
                <p>imc</p>
                <% select.forEach(function(user){ %>
                    <p class="scroreArchiveImc" id="testdate">
                        <%- user.date ; %>
                    </p>
                    <% }); %>
                <% select.forEach(function(user){ %>
                    <p class="scroreArchiveImc">
                        <%- user.imc ; %>
                    </p>
                    <% }); %>

            </div>
            <div id="ctnSCoreKcal">
                <p>Kcal</p>
                <% select.forEach(function(user){ %>
                    <p class="scroreArchiveKcal">
                        <%- user.kcal ; %>
                    </p>
                    <% }); %>
            </div>
        </div>



    </section>

    <section id="sctCalculKcal">
        <div id="ctnCalculKcal">
            <div id="ss-ctnCalculKcalL">
                <p>IMC</p>
                <p>L’indice de masse corporelle évalue votre corpulance avec votre age et votre point Elle permet
                    d’indiquer votre corpulance moyenne, en notant que c’est le seul indice validé par l’oms
                    Organisation Mondiale de la Santer</p>
                <input type="button" value="Besoin de conseil" id="btnConseil">
            </div>
            <div id="ss-ctnCalculKcalR">
                <input type="text" id="poid" class="info" placeholder="Votre poids en klg" required>
                <input type="text" id="taille" class="info" placeholder="Votre Taille en cm" required>
                <input type="button" id="calculerImc" value="calculer">
                <P id="resultImc"></P>
            </div>

        </div>
        <div id="ctnParentConseil">
            <div id="ctnResultConseil">
                <div id="ctndisplauResultConseil">
                <p id="itemConseil"></p>
                </div>
            </div>

            <div id="ctnSaveImc">
                <form action="/compteClient" method="post">
                    <label for="age"></label>
                    <input type="hidden" id="valueImc" name="imc" required>
                    <input type="hidden" id="date" name="date" required>
                    <label for="sauvegardeImc"></label>
                    <input type="submit" value="sauvegarder" id="sauvegardeImc">
                </form>
            </div>                  
        </div>
    </section>


    <section id="descriptionKcal">
        <div id="ctndescriptionKcal">
            <h2>calculateur des besoins caloriques</h2>
            <p>Le calculateur de besoinss caloriques sont un élément brûlant dans le monde du fitness et cela pourrait
                être l'occasion de sauter dessus.
                En effet il est esentiel pour les personnes qui essaient de perdre, de gagner ou de maintenir leur
                poids. Il est important de savoir combien de calories vous avez besoin chaque jour
                pour atteindre vos objectifs de perte de poids.</p>
        </div>

    </section>

    <section class="sctKcalPublic">
        <div id="ctn-Generale-CalculeKcal">
            <div id="ctnCalculeKcal">
                <div id="ctnGenrekcal">
                    <div id="ss-ctnGenrekcalL">
                        <label for="genreH">Homme</label>
                        <input type="radio" id="genreH" name="genre" value="Homme" required>
                    </div>
                    <div id="ss-ctnGenrekcalR">
                        <label for="genreF">Femme</label>
                        <input type="radio" id="genreF" name="genre" value="Femme" required>
                    </div>
                </div>
                <div id="ctnInfokcal">
                    <label for="poidCalorie"></label>
                    <input type="text" id="poidCalorie" placeholder="Poids en klg" required>
                    <label for="tailleCalorie"></label>
                    <input type="text" id="tailleCalorie" placeholder="Taille en cm" required>
                    <label for="age"></label>
                    <input type="text" id="age" placeholder="age">
                </div>
                <p>Niveau d’activiter</p>
                <div id="ctnActiviterkcal">
                    <div id="ss-ctnGenKcal">
                        <input type="radio" id="sedentaire" name="depance" value="sedentaire" required>
                        <label for="genreH">Très peut actif</label>
                    </div>
                    <div id="ss-ctnGenKcal">
                        <input type="radio" id="actifLeger" name="depance" value="actifLeger" required>
                        <label for="genreF">Peut actif</label>
                    </div>
                    <div id="ss-ctnGenKcal">
                        <input type="radio" id="actif" name="depance" value="actif" required>
                        <label for="genreH">Actif</label>
                    </div>
                    <div id="ss-ctnGenKcal">

                        <input type="radio" id="actifPlus" name="depance" value="actifPlus" required>
                        <label for="genreF">Très actif</label>
                    </div>

                </div>
            </div>
            <p id="resultatKcal"></p>
            <label for=""></label>
            <input type="submit" id="calculEvent" value="Calculer">
            <form action="/calculKcal" method="post" id="sauvegardeKcal">
                <label for=""></label>
                <input type="hidden" id="valueKcal" name="kcal" required>
                <label for=""></label>
                <input type="hidden" id="date2" name="date" required>
                <input type="submit" value="Sauvegarder">
            </form>
        </div>

    </section>
    </div>


    <script src="../assets/script/calcule.js"></script>
    <script src="../assets/script/info.js"></script>
    <script src="../assets/script/Kcal.js"></script>
 


    <%- include('footer') %>