<%- include('header') %>
    <section id="sct1-index">
        <div id="cont1-indexPres">
            <div id="sous-ctn1-index" class="sous-ctn1-index">
                <p id="sous-ctn1-p-index">Un corps sain dans un esprit sain.</p>
            </div>
            <div id="sous-ctn-2-index">
                <div id="btn-Contact1-index">
                    <a href="/contact">
                        <p id="para-btn-index">Contact</p>
                    </a>
                </div>
            </div>
            <div id="sous-ctn3-index" class="sous-ctn1-index">
                <a href="#connectIndex">
                    <div id="fleche1-index">
                    </div>
                </a>
            </div>
        </div>
    </section>



    <section id="stc2Index">
        <p class="paraIndex1et4">Inscrivez-vous pour enregistrer voitre progression</p>
        <div class="ctnIndex2-1" id="ctnIndex2-1">
            <div id="ssCtn2-1">
                <img class="img1" src="../assets/images/index2-1.jpg" alt="">
            </div>
            <div class="ssCtn2-2">
                <div id="ss-ssCtn2-2">
                    <h2>Calculez votre IMC !</h2>
                    <p>Pratiqué avec sérieux, le sport n'a rien à voir avec le fair-play. Il déborde de jalousie
                        haineuse, de bestialité, du mépris de toute règle, de plaisir </p>
                </div>
            </div>
        </div>
        <div class="ctnIndex2-1" id="ctnIndex2-2">
            <div class="ssCtn2-2">
                <div id="ss-ssCtn2-2-2">
                    <h2>Sans oublier vos besoin calorique journalier.</h2>
                    <p>Pratiqué avec sérieux, le sport n'a rien à voir avec le fair-play. Il déborde de jalousie
                        haineuse, de bestialité, du mépris de toute règle, de plaisir </p>
                </div>
            </div>
            <div id="ssCtn2-2-2">
                <img class="img2" src="../assets/images/fondIndex2-2.jpg" alt="">
            </div>
        </div>
    </section>

    <section id="sctIndex3-1">
        <div id="ctnIndex3-0">
            <h2 class="titreCalcl">Calculer votre indice de masse corporel</h2>
        </div>
        <div id="ctnIndex3-1">
            <div id="ssCtn3-1">
                <div id="ctnCalImcPublic">
                    <div>
                        <label for="ImcPubPoid">Poids (Klg)</label>
                        <input type="text" id="poidPub">
                    </div>
                    <div>
                        <label for="ImcPubTail">Taille (Cm)</label>
                        <input type="text" id="taillePub">
                    </div>
                    <div>
                        <div id="calculerImcPub">Calculez</div>
                        <p id="resultImcPub"></p>
                    </div>
                </div>
            </div>
            <div id="ssCtn3-2">
                <div id="ctnImc3-2">
                    <p>Maigre > 18,5</p>
                    <svg width="400" height="30">
                        <rect width="140" height="30" fill="#C8FFCD" x="260">
                    </svg>
                    <p>Normal 18,5-25</p>
                    <svg width="400" height="30">
                        <rect width="190" height="30" fill="#AEFFB6" x="210">
                    </svg>
                    <p>Surpoids 25>30</p>
                    <svg width="400" height="30">
                        <rect width="240" height="30" fill="#8DFF99" x="160">
                    </svg>
                    <p>Obésité modérée 30-35</p>
                    <svg width="400" height="30">
                        <rect width="290" height="30" fill="#56FF67" x="110">
                    </svg>
                    <p>Obésité Sévère > 40</p>
                    <svg width="400" height="30">
                        <rect width="340" height="30" fill="#2DFF42" x="60">
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <section class="sctKcalPublic">
        <h2 class="titreCalcl">Calculez vos besoin calorique journalier</h2>
        <div id="ctn-Generale-CalculeKcal">
            <div id="ctnCalculeKcal">
                <div id="ctnGenrekcal">
                    <div id="ss-ctnGenrekcalL">
                        <label for="genreHPub">Homme</label>
                        <input type="radio" id="genreHPub" name="genrePub" value="Homme" required>
                    </div>
                    <div id="ss-ctnGenrekcalR">
                        <label for="genreFPub">Femme</label>
                        <input type="radio" id="genreFPub" name="genrePub" value="Femme" required>
                    </div>
                </div>
                <div id="ctnInfokcal">
                    <label for="poidCaloriePub"></label>
                    <input type="text" id="poidCaloriePub" placeholder="Poids en klg" required>
                    <label for="tailleCaloriePub"></label>
                    <input type="text" id="tailleCaloriePub" placeholder="Taille en cm" required>
                    <label for="agePub"></label>
                    <input type="text" id="agePub" placeholder="age">
                </div>
                <p>Niveau d’activiter</p>
                <div id="ctnActiviterkcal">
                    <div id="ss-ctnGenKcal">
                        <input type="radio" id="sedentairePub" name="depancePub" value="sedentaire" required>
                        <label for="sedentairePub">Très peut actif</label>
                    </div>
                    <div id="ss-ctnGenKcal">
                        <input type="radio" id="actifLegerPub" name="depancePub" value="actifLeger" required>
                        <label for="actifLegerPub">Peut actif</label>
                    </div>
                    <div id="ss-ctnGenKcal">
                        <input type="radio" id="actifPub" name="depancePub" value="actif" required>
                        <label for="actifPub">Actif</label>
                    </div>
                    <div id="ss-ctnGenKcal">

                        <input type="radio" id="actifPlusPub" name="depancePub" value="actifPlus" required>
                        <label for="actifPlusPub">Très actif</label>
                    </div>

                </div>
            </div>
            <label for="valueKcalPub"></label>
            <input type="hidden" id="valueKcalPub" name="kcal" required>
            <p id="resultatKcalPub"></p>
            <label for="calculEventPub"></label>
            <input type="button" id="calculEventPub" value="Calculer">
        </div>
    </section>
    <section id="connectIndex">
        <p class="paraIndex1et4">Inscrivez-vous pour afin d'enregsitrer votre <span class="bkVert">progression.</span></p>
        <div id="ctnFormIndex">
            <form action="/connection" method="post">
                <label for="identifiant">Identifiant</label>
                <input type="text" name="identifiant" id="identifiant">
                <label for="mdp">Mot de passe</label>
                <input type="password" name="mdp" id="mdp">
                <a href="/inscription">Crée un compte</a>
                <input type="submit" value="Se connecter">
            </form>
        </div>
    </section>
    <!-- <script src="../assets/script/KcalPublic.js"></script>
    <script src="../assets/script/calculePub.js"></script> -->
    <%- include('footer') %>
    <script src="../assets/script/calculePub.js"></script>
    <script src="../assets/script/KcalPublic.js"></script>
