<footer>
    <div id="ctnFooter">
        <a href="">Mention léagle</a>
        <img src="../assets/images/logoH.png" alt="" srcset="">
        <a href="">contact</a>
    </div>
</footer>
</body>
</html>