<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My diet est une application qui va vous aider a atteindre 
    vos objectif en fonction de vos besoin">
    <link rel="stylesheet" href="../assets/style/header.css">
    <link rel="stylesheet" href="../assets/style/index.css">
    <link rel="stylesheet" href="../assets/style/inscription.css">
    <link rel="stylesheet" href="../assets/style/compteclient.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <meta>
    <title>Document</title>
</head>
<body>
<div id="contGlobal">
    <header class=''>
        <div id="ctn-jauge-header">
            <span id="ss-ctn-jauge-anim-header">
                <span id="item-jeauge-header"></span>
            </span>
        </div>
        <div class="header">
            <a href="/">
            <div id="ctnLogo" class="container_logo_header">
                <img id="logoH" src="../assets/images/logoH.png" alt="logo du header">
            </div>
        </a>
            <div id="contH">
                <div class="l l1"></div>
                <div class="l l2"></div>
                <div class="l l3"></div>
            </div>
            <nav id="nav">
                <ul id="ulHeader" class='list_header ulHeader'>
                    <li><a href="/inscription">Création compte</a></li>
                    <li><a href="/compteClient">Éspace client</a></li>
                    <li><a href="/deco">Déconnexion</a></li>

                </ul>
            </nav>
        </div>
        <div id="CHH" class="containerHeaderHidden">
            <ul id="ulHiddenHeader" class='listHideen_header'>
                <li class="liheader"><a id="lienHeader1" class="li_header_hideen" href="/inscription">Connexion</a></li>
                <li class="liheader"><a id="lienHeader2" class="li_header_hideen" href="/compteClient">Éspace client</a></li>
                <li class="liheader"><a id="lienHeader3" class="li_header_hideen" href="/deco">Déconnection</a></li>
            </ul>
        </div>
    </header>
    <script src="../assets/script/header.js"></script>
    <script src="../assets/script/headerColor.js"></script>


