<%- include('header') %>
    <section id="scntInscription">
        <div id="ctnFormInscription">
            <form action="/inscription" method="post">
                <div id="ctnGenreInscription">
                    <div>
                        <input type="radio" id="genreH" name="genre" value="Homme" required>
                        <label for="genreH">Homme</label>
                    </div>

                    <div>
                        <input type="radio" id="genreF" name="genre" value="Femme" required>
                        <label for="genreF">Femme</label>
                    </div>
                </div>
                <div class="ctnInfoInscription">
                    <input type="text" name="nom" id="nom" placeholder="Nom" required>
                    <input type="text" name="prenom" id="prenom" placeholder="Prénom" required>
                </div>
                <div class="ctnInfoInscription">
                    <input type="date" name="age" placeholder="Age" required>
                    <input type="text" name="mail" placeholder="Mail" required>
                </div>

                <div class="ctnInfoInscription">
                    <input type="text" name="identifiant" placeholder="Identifiant" required>
                    <input type="password" name="mdp" id="creatPswr" placeholder="Mot de passe" required>
                </div>

                <input type="submit" value="Se connecter" id="creatCompte">
            </form>
        </div>
    </section>

    <%- include('footer') %>